* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 30px;
}

window {
    background-color: rgba(26, 27, 38, 0.9);
    /* Dark Blue Transparent */
}

button {
    color: #ffffff;
    background-color: #24283b;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-color: #ffffff;
    margin: 5px;
}

button:focus,
button:active,
button:hover {
    background-color: #ffffff;
    color: #1a1b26;
    outline-style: none;
}

/* Icons mapping (standard wlogout names) */
#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}